<div class="container-fluid" style="width: 100%">

	<div class="row mt-2 justify-content-center">
		<div class="col-md-8">
			<form autocomplete="off" novalidate [formGroup]="branchForm" (ngSubmit)="saveBranch(branchForm.value)">
				<div class="form-group">
					<label for="Name">Name:</label>
					<input formControlName="name" type="text" class="form-control" placeholder="Name..." />
				</div>
				<div class="form-group">
					<label for="Institute">Institute:</label>
					<p-dropdown [options]="institutes" formControlName="institute" optionLabel="name"></p-dropdown>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-default" (click)="branchForm.reset();">Cancel</button>
			</form>
		</div>
	</div>
	<br>

	<div class="row mt-2 justify-content-center">
		<div class="col-md-8">
			<p-table [value]="branchs" dataKey="branchId" editMode="row">
				<ng-template pTemplate="header">
					<tr>
						<th>Index</th>
						<th>Name</th>
						<th>Institute</th>
						<th style="width: 8em"></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-branch let-editing="editing" let-ri="rowIndex">
					<tr [pEditableRow]="branch">
						<td>{{ri+1}}</td>
						<td>
							<p-cellEditor>
								<ng-template pTemplate="input"> <input pInputText type="text" [(ngModel)]="branch.name"
										required> </ng-template>
								<ng-template pTemplate="output"> {{branch.name}} </ng-template>
							</p-cellEditor>
						</td>

						<td>
							<p-cellEditor>
								<ng-template pTemplate="input">
									<p-dropdown [options]="institutes" [(ngModel)]="branch.institute" optionLabel="name"></p-dropdown>
								</ng-template>
								<ng-template pTemplate="output"> {{branch.institute.name}} </ng-template>
							</p-cellEditor>
						</td>

						<td style="text-align: center">
							<button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
								class="ui-button-info" (click)="onRowEditInit(branch)"></button>
							<button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
								class="ui-button-success" style="margin-right: .5em"
								(click)="onRowEditSave(branch)"></button>
							<button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
								class="ui-button-danger" (click)="onRowEditCancel(branch, ri)"></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>