<div class="container-fluid" style="width: 100%">

	<div class="row mt-2 justify-content-center">
		<div class="col-md-8">
			<form autocomplete="off" novalidate [formGroup]="instituteForm"
				(ngSubmit)="saveInstitute(instituteForm.value)">
				<div class="form-group">
					<label for="Name">Name:</label>
					<input formControlName="name" type="text" class="form-control" placeholder="Name..." />
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-default" (click)="instituteForm.reset()">Cancel</button>
			</form>
		</div>
	</div>
	<br>

	<div class="row mt-2 justify-content-center">
		<div class="col-md-8">
			<p-table [value]="institutes" dataKey="instituteId" editMode="row">
				<ng-template pTemplate="header">
					<tr>
						<th>Index</th>
						<th>Name</th>
						<th style="width:8em"></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-institute let-editing="editing" let-ri="rowIndex">
					<tr [pEditableRow]="institute">
						<td>
							{{ri+1}}
						</td>
						<td>
							<p-cellEditor>
								<ng-template pTemplate="input">
									<input pInputText type="text" [(ngModel)]="institute.name" required>
								</ng-template>
								<ng-template pTemplate="output">
									{{institute.name}}
								</ng-template>
							</p-cellEditor>
						</td>

						<td style="text-align:center">
							<button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
								class="ui-button-info" (click)="onRowEditInit(institute)"></button>
							<button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
								class="ui-button-success" style="margin-right: .5em"
								(click)="onRowEditSave(institute)"></button>
							<button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
								class="ui-button-danger" (click)="onRowEditCancel(institute, ri)"></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>