<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Result System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <a class="nav-link" [routerLink]="['/institute']">Institutes</a>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <a class="nav-link" [routerLink]="['/branch']">Branches</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li *ngIf="auth.isUserLoggedIn()" class="nav-item">
        <a class="nav-link" (click)="logout();" href="#">Logout</a>
      </li>
      <li *ngIf="!auth.isUserLoggedIn()" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>