<h1>Login</h1>
<hr>
<div class="col-md-4">

    <div class="alert alert-danger" role="alert" *ngIf="loginInvalid">
        Invalid Email Id or Passowrd !
    </div>
    <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login();" novalidate>
        <div class="form-group">
            <label for="emailId">Email Id:</label>
            <em *ngIf="loginForm.controls.emailId?.invalid && 
                (loginForm.controls.emailId?.touched || mouseoverLogin)">Required</em>
            <input [(ngModel)]="emailId" name="emailId" id="userName" type="email" required class="form-control"
                placeholder="Email Id..." />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <em *ngIf="loginForm.controls.password?.invalid && 
            (loginForm.controls.password?.touched || mouseoverLogin)">Required</em>
            <input [(ngModel)]="password" name="password" id="password" type="password" required class="form-control"
                placeholder="Password..." />
        </div>
        <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false"><button type="submit"
                [disabled]="loginForm.invalid" class="btn btn-primary">Login</button></span>

        <button type="button" class="btn btn-default">Cancel</button>
    </form>
</div>